# ── Devcontainer ────────────────────────────────────────────
DOCKER_IMAGE_NAME=devcontainer-ia-cli
DOCKER_IMAGE_TAG=0.6
# ── Project -----────────────────────────────────────────────
# Precisa especificar para que coincida com o workspaceFolder do devcontainer.json
CONTAINER_NAME=devcontainer-ia-cli
PROJECT_FOLDER=/code/pessoal/devcontainer-ia-cli