# ── Devcontainer ────────────────────────────────────────────
DOCKER_IMAGE_NAME=devcontainer-ai-cli
DOCKER_IMAGE_TAG=0.6
# ── Project -----────────────────────────────────────────────
# Precisa especificar para que coincida com o workspaceFolder do devcontainer.json
CONTAINER_NAME=devcontainer-ai-cli
PROJECT_FOLDER=/code/pessoal/devcontainer-ai-cli