DOCKER_IMAGE_NAME=devc-ia-cli
DOCKER_IMAGE_TAG=0.6
CONTAINER_NAME=devc-ia-cli
# Precisa especificar para que coincida com o workspaceFolder do devcontainer.json
PROJECT_FOLDER=/code/pessoal/devc-ia-cli